<%provide :title, t("header.home")%>
<div class="center jumbotron">
  <h1> <%= t "containt.init" %> </h1>
  <% unless logged_in? %>
    <%= link_to t("button_signup"), signup_path,
      class: "btn btn-lg btn-primary" %>
  <% end %>
</div>
