@import "bootstrap-sprockets";
@import "bootstrap";

html {
  height: 100%;
  box-sizing: border-box;
}
body {
  position: relative;
  margin: 0;
  padding-bottom: 60px;
  min-height: 100%;
}
/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/*typography*/
h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray-light;
  font-weight: 400;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*Header*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

$gray-medium-light: #eaeaea;

/*footer*/
footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  position: absolute;
  bottom: 0px;
  z-index: 20;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*sidebar*/

aside {
  section.user-infor {
    margin-top: 20px;
  }
  section {
    padding : 10px 0;
    margin-top: 20px;
    &:first_child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.admin {
  width: calc(100% - 250px);
  margin-left: 250px;
  .admin-content {
    padding-top: 50px;
    .lm-category {
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgba(0,0,0,0.5);
      margin-bottom: 20px;
      .lm-img {
        margin: 0 auto;
        display: block;
        height: 230px;
        width: 95%;
      }
      .lm-cate-name {
        margin-top: 20px;
        a {
          color: #FFF;
          font-weight: bold;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}
h1, h2, h3 {
  margin-top: 0px !important;
}

.td-word-condition {
  width: 100%;
  display: inline-block;
}
.fl-div-word {
  width: 100%;
  padding-bottom: 30px;
}

.search-form {
  form {
    width: 100%;
    input[type = "text"] {
      @extend .form-control;
    }
    input[type = "submit"] {
      @extend .btn;
      @extend .btn-primary;
      width: 200px;
    }
  }
}
.user-infor {
  margin-top: 20px;
}

.td-body {
  margin-top: 55px;
}

.lm-category {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.5);
  margin-bottom: 20px;
  .lm-img {
    margin: 0 auto;
    display: block;
    height: 230px;
    width: 95%;
  }
}

.td-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}

.removable {
  padding-left: 0!important;
}

.input-group-addon {
  border-radius:0;
  border-color:#d2d6de;
  background-color:#fff
}

.dn-admin-addon {
  background-color: #eeeeee!important;
}

todo-list>li>input[type="checkbox"] {
  margin:0 10px 0 5px
}

.inline {
  display:inline
}

.dn-admin-word-check {
  margin: 0 20px !important;
}

.dn-admin-wordanswer-check {
  width: 40px;
}

.dn-admin-cate-select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px #e2e2e2 inset;
}

.dn-admin-word-label {
  display: block !important;
}

.dn-cate-new {
  select {
    @extend .dn-admin-cate-select;
    background-color: #fff;
  }
}

.dn-admin-word-content, .dn-admin-word-btn {
  width: 98% !important;
}

.dn-admin-cate-form label {
  width: 150px;
  float: left;
  display: block;
  a {
    margin-top: 10px!important;
  }
}

.dn-admin-cate-select {
  width: 200px;
  padding: 5px;
  border: 1px solid #ddd;
  box-shadow: 0 2px 6px #e2e2e2 inset;
}

.answers_field ul li {
  list-style: none;
}

.btn-sm {
  padding-left:38px;
}

.action {
  width: 150px;
}

.dn-admin-user-image {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: -2px;
}

.correct_answer {
  @extend .well;
  background-color: #78cc7b
}

.true_answer {
  background-color: #78cc7b
}

.small-box {
  border-radius: 2px;
  position: relative;
  display: block;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1)
}

.small-box > .inner {
  padding: 10px
}

.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255,255,255,0.8);
  display: block;
  z-index: 10;
  background: rgba(0,0,0,0.1);
  text-decoration: none
}

.bg-yellow {
  background-color: #78cc7b
}

.bg-green {
  background-color: #ccb778
}

.bg-blue {
  background-color: #8d78cc
}

.bg-white {
  background-color: #338dc3
}

#clock {
  height: 55px;
}
.lesson-show {
  .true {
    background-color: #6ad86a;
  }
  .false {
    background-color: #ff7d84;
  }
}

.dn-front-group {
  font-size: 16px !important;
  background-color: #FFFFFF;
  border-radius: 10px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.dn-form-control {
  border-radius: 4px!important;
}

.dn-front-user-btn {
  width: 35%;
  display: block;
  margin: 0 auto;
  padding: 8px 15px;
}

.activities {
  list-style: none;
  padding: 0;
  li {
    padding: 5px 0;
    border-top: 1px solid #e8e8e8;
  }
  .td-content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
}
