@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/*typography*/
h1, h2, h3, h4, h5 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: gray-light;
  font-weight: 400;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/*Header*/
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

$gray-medium-light: #eaeaea;

/*footer*/
footer {
  width: 100%;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  position: absolute;
  bottom: 0px;
  left: 0px;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*sidebar*/

aside {
  section.user-infor {
    margin-top: 20px;
  }
  section {
    padding : 10px 0;
    margin-top: 20px;
    &:first_child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-top: 0;
      margin-bottom: 3px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  /*@include box_sizing;*/
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

.admin {
  width: calc(100% - 250px);
  margin-left: 250px;
  .admin-content {
    padding-top: 50px;
    .lm-category {
      padding-top: 20px;
      padding-bottom: 20px;
      background: rgba(0,0,0,0.5);
      margin-bottom: 20px;
      .lm-img {
        margin: 0 auto;
        display: block;
        height: 230px;
        width: 95%;
      }
      .lm-cate-name {
        margin-top: 20px;
        a {
          color: #FFF;
          font-weight: bold;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
}
h1, h2, h3 {
  margin-top: 0px !important;
}

.td-word-condition {
  width: 100%;
  display: inline-block;
}
.fl-div-word {
  width: 100%;
  padding-bottom: 30px;
}

.search-form {
  form {
    width: 100%;
    input[type = "text"] {
      @extend .form-control;
    }
    input[type = "submit"] {
      @extend .btn;
      @extend .btn-primary;
      width: 200px;
    }
  }
}
.user-infor {
  margin-top: 20px;
}
.td-body {
  margin-top: 55px;
}

.lm-category {
  padding-top: 20px;
  padding-bottom: 20px;
  background: rgba(0,0,0,0.5);
  margin-bottom: 20px;
  .lm-img {
    margin: 0 auto;
    display: block;
    height: 230px;
    width: 95%;
  }
}
.td-btn {
  padding-top: 20px;
  padding-bottom: 20px;
}
